In [43]:
#import sklearn as sk;
import pandas as pd;
import numpy as np;

Label: Human_Development_Index

Countrys: 
"Name" 
"Region" 

Education: 

Event:

Heath:

Month:

Population:

Quality of Life:

In [44]:
# load the datasets 
dfCountry = pd.read_csv('./Tables/Country.csv')
dfEducation = pd.read_csv('./Tables/Education.csv')
dfEvent = pd.read_csv('./Tables/Event.csv')
dfFactTable = pd.read_csv('./Tables/Fact_Table.csv')
dfHealth = pd.read_csv('./Tables/Health.csv')
dfMonth = pd.read_csv('./Tables/Month.csv')
dfPopulation = pd.read_csv('./Tables/Population.csv')
dfQualityOfLife = pd.read_csv('./Tables/Quality_of_Life.csv')

dfPopulation = dfPopulation.drop(["PopulationKey", "SurrogateKey", "Country", "Year"], axis=1)
dfEducation = dfEducation.drop(["EducationKey", "SurrogateKey", "Country", "Year"], axis=1)
dfHealth = dfHealth.drop(["HealthKey", "SurrogateKey", "Country", "Year"], axis=1)
dfQualityOfLife = dfQualityOfLife.drop(["QualityofLifeKey", "SurrogateKey"], axis=1)

print(dfEducation.shape[0])
print(dfHealth.shape[0])
print(dfPopulation.shape[0])
print(dfQualityOfLife.shape[0])

canada = dfFactTable.loc[dfFactTable['CountryKey'] == 2]
unitedStates = dfFactTable.loc[dfFactTable['CountryKey'] == 8]
mexico = dfFactTable.loc[dfFactTable['CountryKey'] == 5]
mauritius = dfFactTable.loc[dfFactTable['CountryKey'] == 6]
liberia = dfFactTable.loc[dfFactTable['CountryKey'] == 4]
congo = dfFactTable.loc[dfFactTable['CountryKey'] == 3]
vietnam = dfFactTable.loc[dfFactTable['CountryKey'] == 9]
nepal = dfFactTable.loc[dfFactTable['CountryKey'] == 7]
bangladesh = dfFactTable.loc[dfFactTable['CountryKey'] == 1]

fixedFact = canada.append(unitedStates)
fixedFact = fixedFact.append(mexico)
fixedFact = fixedFact.append(mauritius)
fixedFact = fixedFact.append(liberia)
fixedFact = fixedFact.append(congo)
fixedFact = fixedFact.append(vietnam)
fixedFact = fixedFact.append(nepal)
fixedFact = fixedFact.append(bangladesh)
fixedFact = fixedFact.drop(["MonthKey","CountryKey", "EducationKey",  "QualityofLifeKey", "HealthKey", "EventKey", "PopulationKey", "Development_Index"], axis=1) 

df = pd.concat([dfQualityOfLife, dfHealth, dfPopulation, dfEducation, fixedFact], axis=1)

print(f"result: \n{result}\n")
# print the shape of the dataframes 
print(f"Test Data shape: \n{dfCountry}\n")
print(f"Test Data shape: \n{dfEducation.shape}\n")
print(f"Test Data shape: \n{dfEvent.shape}\n")
print(f"Test Data shape: \n{dfFactTable.shape}\n")
print(f"Test Data shape: \n{dfHealth.shape}\n")
print(f"Test Data shape: \n{dfMonth.shape}\n")
print(f"Test Data shape: \n{dfPopulation.shape}\n")
print(f"Test Data shape: \n{dfQualityOfLife.shape}\n")
print("_____________________________________________\n")
#scatterHealth = dfHealth.plot.scatter(x='Country', y='Hospital_beds(per_1,000_people)', c='orange')
#print(f"Health Scatterplot: \n{scatterHealth}\n")
coloumns = dfEducation.columns
print(coloumns.values)
boxPlot = dfEducation.boxplot

144
144
144
144
result:
        Country        Year  \
0        Canada  2005-01-01
1        Canada  2006-01-01
2        Canada  2007-01-01
3        Canada  2008-01-01
4        Canada  2009-01-01
..          ...         ...
139  Bangladesh  2016-01-01
140  Bangladesh  2017-01-01
141  Bangladesh  2018-01-01
142  Bangladesh  2019-01-01
143  Bangladesh  2020-01-01

     People_practicing_open_defecation(%_of_population)  \
0                                             0.000000
1                                             0.000000
2                                             0.000000
3                                             0.000000
4                                             0.000000
..                                                 ...
139                                           1.851918
140                                           1.020961
141                                           0.220963
142                                           0.000000
143                                           0.000000

     %_of_population_using_least_basic_sanitation_services  \
0                                            99.805190
1                                            99.750336
2                                            99.695950
3                                            99.641460
4                                            99.586845
..                                                 ...
139                                          48.225540
140                                          49.728413
141                                          51.219707
142                                          52.698704
143                                          54.164696

     %_of_population_using_safely_managed_sanitation_services  \
0                                            78.885765
1                                            79.280685
2                                            79.675170
3                                            80.068950
4                                            80.462020
..                                                 ...
139                                          34.671750
140                                          35.685566
141                                          36.690105
142                                          37.684883
143                                          38.669420

     %_of_population_using_at_least_basic_drinking_water_services  \
0                                            99.234640
1                                            99.234620
2                                            99.235500
3                                            99.236080
4                                            99.236360
..                                                 ...
139                                          97.229614
140                                          97.353260
141                                          97.472530
142                                          97.587425
143                                          97.697960

     %_of_population_using_safely_managed_drinking_water_services  \
0                                            98.240800
1                                            98.299470
2                                            98.359970
3                                            98.419910
4                                            98.479260
..                                                 ...
139                                          56.733536
140                                          57.154076
141                                          57.590656
142                                          58.043262
143                                          58.511880

     %_of_population_with_basic_handwashing_facilities_with_soap  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
139                                          45.139103
140                                          48.496960
141                                          51.827020
142                                          55.129330
143                                          58.403954

     Labor_force,_female(%_of_total_labor_force)  \
0                                      46.419240
1                                      46.674060
2                                      46.855960
3                                      46.800793
4                                      47.032047
..                                           ...
139                                    28.748392
140                                    30.174154
141                                    30.364622
142                                    30.514652
143                                          NaN

     %_of_women_employed_in_the_nonagricultural_sector  ...  \
0                                                 49.1  ...
1                                                 49.2  ...
2                                                 49.6  ...
3                                                 49.7  ...
4                                                 50.4  ...
..                                                 ...  ...
139                                                NaN  ...
140                                                NaN  ...
141                                                NaN  ...
142                                                NaN  ...
143                                                NaN  ...

     Public_spending_on_education_total(%_of _GDP)  \
0                                          4.76588
1                                              NaN
2                                          4.76641
3                                          4.62612
4                                          4.84058
..                                             ...
139                                        1.53554
140                                            NaN
141                                            NaN
142                                        1.32632
143                                            NaN

     School_enrollment_primary_male(%gross)  \
0                                  97.77119
1                                  99.23444
2                                  99.20019
3                                  98.10118
4                                  98.93639
..                                      ...
139                                     NaN
140                               111.08681
141                               112.35745
142                                     NaN
143                               114.35002

     School_enrollment_primary_female(%gross)  \
0                                    96.93871
1                                    98.50983
2                                    98.72111
3                                    97.92086
4                                    99.08513
..                                        ...
139                                       NaN
140                                 119.05796
141                                 120.75175
142                                       NaN
143                                 124.98738

     School_enrollment_secondary_male(%gross)  \
0                                   102.48706
1                                   102.73236
2                                   103.00190
3                                   103.52593
4                                   103.90808
..                                        ...
139                                  67.97476
140                                  64.34774
141                                  67.35348
142                                  67.09110
143                                  67.54806

     School_enrollment_secondary_female(%gross)  \
0                                     100.23438
1                                     100.66950
2                                     100.74837
3                                     101.10425
4                                     101.50361
..                                          ...
139                                    75.01081
140                                    75.21749
141                                    78.27073
142                                    78.27727
143                                    81.48805

     School_enrollment_tertiary_female(%gross)  \
0                                          NaN
1                                          NaN
2                                     73.95901
3                                     74.44554
4                                     73.92633
..                                         ...
139                                   14.68115
140                                   14.91033
141                                   16.98329
142                                   20.01847
143                                   19.84238

     School_enrollment_tertiary(%gross)  \
0                                   NaN
1                                   NaN
2                              63.60006
3                              63.76740
4                              63.06577
..                                  ...
139                            17.87436
140                            18.15146
141                            20.56507
142                            24.01689
143                            22.83039

     Primary_completion_rate_total(%_of_relevant_age_group)  Quality_of_Life  \
0                                                  NaN                     4
1                                                  NaN                     4
2                                                  NaN                     4
3                                                  NaN                     4
4                                                  NaN                     4
..                                                 ...                   ...
139                                                NaN                     4
140                                                NaN                     4
141                                                NaN                     3
142                                                NaN                     3
143                                                NaN                     3

     Human_Development_Index
0                      0.514
1                      0.521
2                      0.528
3                      0.531
4                      0.543
..                       ...
139                    0.693
140                    0.696
141                    0.700
142                    0.704
143                    0.704

[144 rows x 56 columns]

Test Data shape:
   CountryKey  SurrogateKey             Name                     Region  \
0           1            20       Bangladesh                 South Asia
1           2            35           Canada              North America
2           3            43  Dem. Rep. Congo         Sub-Saharan Africa
3           4           130          Liberia         Sub-Saharan Africa
4           5           153           Mexico  Latin America & Caribbean
5           6           166        Mauritius         Sub-Saharan Africa
6           7           177            Nepal                 South Asia
7           8           250    United States              North America
8           9           256          Vietnam        East Asia & Pacific

       Continent          Currency        Capital WB-2_Code Country_Code  \
0           Asia  Bangladeshi taka          Dhaka        BD          BGD
1  North America   Canadian dollar         Ottawa        CA          CAN
2         Africa   Congolese franc       Kinshasa        ZR          COD
3         Africa       U.S. dollar       Monrovia        LR          LBR
4  North America      Mexican peso    Mexico City        MX          MEX
5         Africa   Mauritian rupee     Port Louis        MU          MUS
6           Asia    Nepalese rupee      Kathmandu        NP          NPL
7  North America       U.S. dollar  Washington DC        US          USA
8           Asia   Vietnamese dong          Hanoi        VN          VNM

   Source_of_most_recent_Income_and_expenditure_data       System_Of_Trade  \
0            Integrated household survey (IHS), 2016  General trade system
1                     Labor force survey (LFS), 2013  General trade system
2                      1-2-3 survey (1-2-3), 2012/13                   NaN
3     Expenditure survey/budget survey (ES/BS), 2014                   NaN
4            Integrated household survey (IHS), 2016  General trade system
5            Integrated household survey (IHS), 2012  General trade system
6  Living Standards Measurement Study Survey (LSM...  General trade system
7                     Labor force survey (LFS), 2016  General trade system
8            Integrated household survey (IHS), 2016  General trade system

  External_debt_Reporting_status Lending_category  \
0                         Actual              IDA
1                            NaN              NaN
2                         Actual              IDA
3                         Actual              IDA
4                         Actual             IBRD
5                         Actual             IBRD
6                         Actual              IDA
7                            NaN              NaN
8                         Actual             IBRD

                    SNA_price_valuation         Income_Group  \
0     Value added at basic prices (VAB)  Lower middle income
1     Value added at basic prices (VAB)          High income
2     Value added at basic prices (VAB)           Low income
3  Value added at producer prices (VAP)           Low income
4     Value added at basic prices (VAB)  Upper middle income
5     Value added at basic prices (VAB)  Upper middle income
6     Value added at basic prices (VAB)  Lower middle income
7     Value added at basic prices (VAB)          High income
8     Value added at basic prices (VAB)  Lower middle income

  Latest_Population_Census                     Latest_Household_Survey
0                     2011     Multiple Indicator Cluster Survey, 2019
1                     2016                                         NaN
2                      NaN  Multiple Indicator Cluster Survey, 2017/18
3          2020 (expected)      Demographic and Health Survey, 2019/20
4          2020 (expected)     Multiple Indicator Cluster Survey, 2015
5          2020 (expected)                   World Health Survey, 2003
6                     2011     Multiple Indicator Cluster Survey, 2019
7          2020 (expected)                                         NaN
8                     2019  Multiple Indicator Cluster Survey, 2020/21

Test Data shape:
(144, 12)

Test Data shape:
(939, 9)

Test Data shape:
(144, 10)

Test Data shape:
(144, 16)

Test Data shape:
(216, 6)

Test Data shape:
(144, 12)

Test Data shape:
(144, 14)

_____________________________________________

['Literacy_rate_adult_female_(%_of_females_ages_15_and_above)'
 'Literacy_rate_adult_male_(%_of_males_ages_15_and_above)'
 'Literacy_rate_adult_total_(%_of_people_ages_15_and_above)'
 'Literacy_rate_youth_total(%_of_people_ages_15-24)'
 'Public_spending_on_education_total(%_of _GDP)'
 'School_enrollment_primary_male(%gross)'
 'School_enrollment_primary_female(%gross)'
 'School_enrollment_secondary_male(%gross)'
 'School_enrollment_secondary_female(%gross)'
 'School_enrollment_tertiary_female(%gross)'
 'School_enrollment_tertiary(%gross)'
 'Primary_completion_rate_total(%_of_relevant_age_group)']

In [45]:
fixedFact

    Quality_of_Life  Human_Development_Index
16                1                    0.894
17                1                    0.898
18                1                    0.896
19                1                    0.898
20                1                    0.898
..              ...                      ...
11                4                    0.606
12                4                    0.616
13                4                    0.625
14                4                    0.632
15                4                    0.632

[144 rows x 2 columns]

In [46]:
df

,Country,Year,People_practicing_open_defecation(%_of_population),%_of_population_using_least_basic_sanitation_services,%_of_population_using_safely_managed_sanitation_services,%_of_population_using_at_least_basic_drinking_water_services,%_of_population_using_safely_managed_drinking_water_services,%_of_population_with_basic_handwashing_facilities_with_soap,"Labor_force,_female(%_of_total_labor_force)",%_of_women_employed_in_the_nonagricultural_sector,...,Public_spending_on_education_total(%_of _GDP),School_enrollment_primary_male(%gross),School_enrollment_primary_female(%gross),School_enrollment_secondary_male(%gross),School_enrollment_secondary_female(%gross),School_enrollment_tertiary_female(%gross),School_enrollment_tertiary(%gross),Primary_completion_rate_total(%_of_relevant_age_group),Quality_of_Life,Human_Development_Index
0,Canada,2005-01-01,0.000000,99.805190,78.885765,99.234640,98.240800,NaN,46.419240,49.1,...,4.76588,97.77119,96.93871,102.48706,100.23438,NaN,NaN,NaN,4,0.514
1,Canada,2006-01-01,0.000000,99.750336,79.280685,99.234620,98.299470,NaN,46.674060,49.2,...,NaN,99.23444,98.50983,102.73236,100.66950,NaN,NaN,NaN,4,0.521
2,Canada,2007-01-01,0.000000,99.695950,79.675170,99.235500,98.359970,NaN,46.855960,49.6,...,4.76641,99.20019,98.72111,103.00190,100.74837,73.95901,63.60006,NaN,4,0.528
3,Canada,2008-01-01,0.000000,99.641460,80.068950,99.236080,98.419910,NaN,46.800793,49.7,...,4.62612,98.10118,97.92086,103.52593,101.10425,74.44554,63.76740,NaN,4,0.531
4,Canada,2009-01-01,0.000000,99.586845,80.462020,99.236360,98.479260,NaN,47.032047,50.4,...,4.84058,98.93639,99.08513,103.90808,101.50361,73.92633,63.06577,NaN,4,0.543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Bangladesh,2016-01-01,1.851918,48.225540,34.671750,97.229614,56.733536,45.139103,28.748392,NaN,...,1.53554,NaN,NaN,67.97476,75.01081,14.68115,17.87436,NaN,4,0.693
140,Bangladesh,2017-01-01,1.020961,49.728413,35.685566,97.353260,57.154076,48.496960,30.174154,NaN,...,NaN,111.08681,119.05796,64.34774,75.21749,14.91033,18.15146,NaN,4,0.696
141,Bangladesh,2018-01-01,0.220963,51.219707,36.690105,97.472530,57.590656,51.827020,30.364622,NaN,...,NaN,112.35745,120.75175,67.35348,78.27073,16.98329,20.56507,NaN,3,0.700
142,Bangladesh,2019-01-01,0.000000,52.698704,37.684883,97.587425,58.043262,55.129330,30.514652,NaN,...,1.32632,NaN,NaN,67.09110,78.27727,20.01847,24.01689,NaN,3,0.704
143,Bangladesh,2020-01-01,0.000000,54.164696,38.669420,97.697960,58.511880,58.403954,NaN,NaN,...,NaN,114.35002,124.98738,67.54806,81.48805,19.84238,22.83039,NaN,3,0.704